/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_1 : rgba($palette-primary_1, 0.80);

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	color: $text-contrast-palette-primary_1;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.site-header,
	.well {
		background: $rgba_1;
		color: $text-contrast-palette-primary_1;
	}
	.page-bg,
	.entry-content,
	.entry-footer,
	.site-footer,
	#boldgrid-sticky-push,
	#boldgrid-sticky-filler,
	.panel-default > .panel-heading,
	.panel-body,
	.panel-footer {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.attribution-theme-mods a,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus,
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary_1;
	}
	.gridblock hr {
		background: $text-contrast-palette-primary_1;
	}
	#menu-social li a,
	.navbar-default .navbar-nav > li > a {
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-nav > li.dropdown:hover > a,
	.dropdown .active, ul.dropdown-menu {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	#reviews #comments ol.commentlist li .comment-text {
		border: 1px solid $text-contrast-palette-primary_1;
	}
	hr {
		border-color: $text-contrast-palette-primary_1;
	}
	.panel-default {
		border-color: $palette-primary_1;
	}

	/* sm */
	@media (min-width: 768px) {
		header.smaller {
			background: $palette-primary_1;
		}
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.button-primary,
	.pager li > a {
		border: 1px solid $palette-primary_2;
		color: $palette-primary_2;
	}
	.call-to-action .button-primary {
		background: $palette-primary_1;
		border-color: $palette-primary_2;
		color: $palette-primary_2;
	}	
	.button-primary:hover,
	.button-primary:focus,
	.button-primary:active,
	.open > .dropdown-toggle.btn-primary,
	.pager li > a:hover,
	.pager li > a:active,
	.alert .button-primary,
	.woocommerce-Message .button-primary {
		background-color: $palette-primary_2;
		border-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.alert-message .button-primary:hover,
	.woocommerce-Message .button-primary:hover {
		background-color: transparent;
		border: 1px solid $palette-primary_2;
		color: $palette-primary_2;		
	}
	.gridblock ul li:before {
		background-color: $palette-primary_2;
	}
	.navbar-default .navbar-toggle {
		border-color: $palette-primary_2;
	}

	.navbar-default .navbar-nav {
		> {
			.current-menu-parent > a {
				color: $palette-primary_2;
			}
			.active > a {
				color: $palette-primary_2;
				background: none;
				&:hover, &:focus {
					color: $palette-primary_2;
					background: none;
				}
			}
			li > a {
				&:hover, &:focus {
					color: $palette-primary_2;
					background: none;
				}
			}
		}
		.dropdown .dropdown-menu > {
			.active > a {
				background: $palette-primary_2;
				color: $text-contrast-palette-primary_2;
				&:hover, &:focus {
					background: $palette-primary_2;
					color: $text-contrast-palette-primary_2;
				}
			}
			li > a {
				color: $text-contrast-palette-primary_1;
				&:hover, &:focus {
					background: $palette-primary_2;
					color: $text-contrast-palette-primary_2;
				}
			}
		}
	}
	
	a,
	.menu-item a,
	#menu-social a[href]:hover,
	#menu-social li.current_page_item a,
	#colophon li.current_page_item a,
	.menu-social li .fa,
	.entry-footer a,
	.mod-alpha h3,
	.widget.well a,
	caption,
	#menu-social li a:hover,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: $palette-primary_2;
	}
	#secondary-menu,
	#tertiary-menu {
		background: rgba($palette-primary_2, 0.8);
	}
	#secondary-menu a,
	#tertiary-menu a {
		color: $text-contrast-palette-primary_2;
	}
	.mod-blockquote {
		border-left: 6px solid $palette-primary_2;
	}
	.nav > li > a:focus,
	.nav > li > a:hover,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus,
	#colophon .widget.well li.current_page_item a:focus,
	#colophon .widget.well li.current_page_item a:hover,
	.mark,
	mark {
		background-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.well {
		border: 1px solid $palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	#secondary-menu a[href]:hover,
	#secondary-menu li.current_page_item a,
	#tertiary-menu a[href]:hover,
	#tertiary-menu li.current_page_item a,
	.entry-content ul li,
	h2,
	h3,
	.widget-title,
	.mod-beta h2 {
		color: $palette-primary_3;
	}
	#footer-widget-area {
		border-top: 1px solid $palette-primary_3;
	}
	.button-secondary {
		border: 1px solid $palette-primary_3;
		color: $palette-primary_3;
	}
	.button-secondary:hover,
	.button-secondary:active {
		background-color: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.navbar-default .navbar-toggle .icon-bar,
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: $palette-primary_3;
	}	

	/*-----------------------------------------------
	## Site Title & Social Icons
	-----------------------------------------------*/
	.site-title a,
	.site-description,
	.menu-social li:hover .fa,
	.menu-social li:focus .fa {
		color: $text-contrast-palette-primary_1;
	}

	/*-----------------------------------------------
	# Et Cetera
	-----------------------------------------------*/
	&.single,
	&.archive {
		.entry-title a,
		.entry-title a:hover,
		.entry-title a:focus {
			color: $text-contrast-palette-primary_1;
			text-shadow: none;
		}
	}
	&.blog .entry-title a {
		text-shadow: none;
		color: $text-contrast-palette-primary_1;
	}
	&.mce-content-body,
	&.error404 .site-content,	
	&.blog .site-content,
	&.search .site-content,
	&.single .main,
	&.archive .main {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	&.woocommerce .color1-color,
	&.woocommerce-page .color1-color {
		color: $palette-primary_2 !important;
	}
	&.woocommerce-page .color-1-text-contrast-hover:hover,
	&.woocommerce-page .color-1-text-contrast-hover:focus {
		color: $text-contrast-palette-primary_1 !important;
	}
	&.woocommerce div.product span.price {
		color: $palette-primary_2;
	}
	&.woocommerce div.product .stock {
		color: $text-contrast-palette-primary_1;
	}
}