/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_1 : rgba($palette-primary_1, 0.80);

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	color: $text-contrast-palette-primary_1;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.site-header {
		background: $rgba_1;
		color: $text-contrast-palette-primary_1;
	}
	.page-bg,
	.entry-content,
	.entry-footer,
	.site-footer,
	#boldgrid-sticky-push,
	#boldgrid-sticky-filler,
	.table-striped td {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.comments-area .panel-footer {
		background: $palette-primary_1;
	}
	.site-info,
	.site-info a,
	.attribution,
	.attribution a,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus,
	.comments-area .comment-content p {
		color: $text-contrast-palette-primary_1;
	}
	.gridblock hr {
		background: $text-contrast-palette-primary_1;
	}
	.menu-item a,
	#menu-social li a,
	.navbar-default .navbar-nav > li > a {
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-nav > li.dropdown:hover > a,
	.dropdown .active, ul.dropdown-menu {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.widget-area {
		border: 1px solid $text-contrast-palette-primary_1;
	}
	hr {
		border-color: $text-contrast-palette-primary_1;
	}

	/* sm */
	@media (min-width: 768px) {
		header.smaller {
			background: $palette-primary_1;
		}
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.button-primary,
	input[type="submit"],
	.form-submit .submit {
		border: 1px solid $palette-primary_2;
		color: $palette-primary_2;
	}
	.button-primary:hover,
	.button-primary:focus,
	.button-primary:active,
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	.form-submit .submit:hover,
	.form-submit .submit:focus,
	.open > .dropdown-toggle.btn-primary {
		background-color: $palette-primary_2;
		border-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.call-to-action .button-primary {
		background: $palette-primary_1;
		border-color: $palette-primary_2;
		color: $palette-primary_2;
	}
	.call-to-action .button-primary:hover,
	.call-to-action .button-primary:focus {
		background: $palette-primary_2;
		border-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.gridblock ul li:before {
		background-color: $palette-primary_2;
	}

	.navbar-default .navbar-toggle {
		border-color: $palette-primary_2;
		.icon-bar {
			background-color: $palette-primary_2
		}
	}

	.navbar-default .navbar-nav {
		> {
			.current-menu-parent > a {
				color: $palette-primary_2;
			}
			.active > a {
				color: $palette-primary_2;
				background: none;
				&:hover, &:focus {
					color: $palette-primary_2;
					background: none;
				}
			}
			li > a {
				&:hover, &:focus {
					color: $palette-primary_2;
					background: none;
				}
			}
		}
		.dropdown .dropdown-menu > {
			.active > a {
				background: $palette-primary_2;
				color: $text-contrast-palette-primary_2;
				&:hover, &:focus {
					background: $palette-primary_2;
					color: $text-contrast-palette-primary_2;
				}
			}
			li > a {
				&:hover, &:focus {
					background: $palette-primary_2;
					color: $text-contrast-palette-primary_2;
				}
			}
		}
	}
	a,
	#menu-social a[href]:hover,
	#menu-social li.current_page_item a,
	#colophon li.current_page_item a,
	.menu-social li .fa,
	.entry-footer a,
	.mod-alpha h3,
	.widget.well a,
	caption,
	.link-primary,
	.link-secondary,
	#menu-social li a:hover,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: $palette-primary_2;
	}
	#secondary-menu,
	#tertiary-menu {
		background: rgba($palette-primary_2, 0.8);
	}
	#menu-social a,
	#secondary-menu a,
	#tertiary-menu a {
		color: $text-contrast-palette-primary_2;
	}
	.mod-blockquote {
		border-left: 6px solid $palette-primary_2;
	}
	.nav > li > a:focus,
	.nav > li > a:hover {
		background-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	#secondary-menu a[href]:hover,
	#secondary-menu li.current_page_item a,
	#tertiary-menu a[href]:hover,
	#tertiary-menu li.current_page_item a,
	.entry-content ul li,
	h2,
	h3,
	.widget-title,
	.mod-beta h2 {
		color: $palette-primary_3;
	}
	#footer-widget-area {
		border-top: 1px solid $palette-primary_3;
	}
	.button-secondary {
		border: 1px solid $palette-primary_3;
		color:$palette-primary_3;
	}
	.button-secondary:hover,
	.button-secondary:active {
		background-color: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## 1 - Site Title & Social Icons
	-----------------------------------------------*/
	.site-title a,
	.site-description,
	.menu-social li:hover .fa,
	.menu-social li:focus .fa {
		color: $text-contrast-palette-primary_1;
	}

	/*-----------------------------------------------
	# Et Cetera
	-----------------------------------------------*/
	&.single,
	&.archive {
		.entry-title a,
		.entry-title a:hover,
		.entry-title a:focus {
			color: $text-contrast-palette-primary_1;
			text-shadow: none;
		}
	}
	.entry-title a,
	.entry-title a:hover,
	.entry-title a:focus {
		color: #fff;
		text-shadow: 0.1em 0.1em 0.05em #333;
	}
	.site-header {
		/* Box Shadow */
		-webkit-box-shadow: 0 3px 8px 2px rgba(38, 38, 38, 0.5);
		-moz-box-shadow: 0 3px 8px 2px rgba(38, 38, 38, 0.5);
		box-shadow: 0 3px 8px 2px rgba(38, 38, 38, 0.5);
	}
	.dropdown-menu {
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.176);
	}
	.woocommerce #respond input#submit,
	.woocommerce a.button,
	.woocommerce button.button,
	.woocommerce input.button,
	.woocommerce p.buttons a.button {
		background-color: #a46497;
		color: #fff;
	}
	.woocommerce p.buttons a.button:hover {
		background-color: #dad8da;
		color: #515151;
	}
	#footer-widget-area {
		border-top: 1px solid #dee0e0;
	}
	&.mce-content-body {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	&.error404 {
		.site-content {
			background: $palette-primary_1;
			color: $text-contrast-palette-primary_1;
		}
	}
	&.blog .entry-title a {
		text-shadow: none;
		color: $text-contrast-palette-primary_1;
	}
	&.blog .site-content,
	&.search .site-content,
	&.single .main,
	&.archive .main {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
}
